---
import Layout from '../layouts/Layout.astro'
import DashboardPublic from '@/components/DashboardPublic'
---

<Layout title="Dashboard">
	<main>
		<DashboardPublic client:load />
	</main>
</Layout>
